<form id="newentry" name="newentry" method="post" action="/newbookmark">
  Title: <input type="text" name="title" id="title"><br>
  URL: <input type="text" name="url" id="url"><br>
  <input type="submit" name="Submit" id="Submit" value="Submit">
</form>
