<form id="signup" name="signup" method="post" action="/addnewuser">
  Email: <input type="text" name="email" id="email"><br>
  Password: <input type="password" name="password" id="password"><br>
  <input type="submit" name="Submit" id="Submit" value="Submit">
</form>
